async-generator
certifi
charset-normalizer
cycler
entrypoints
Flask
idna
itsdangerous
joblib
jsonify
jupyter
kiwisolver
matplotlib
numpy
pandas
patsy
Pillow
pytz
pywinpty
requests
scikit-learn
scipy
seaborn
sklearn
statsmodels
terminado
threadpoolctl
urllib3
webencodings
Werkzeug
widgetsnbextension
wincertstore
chardet
click
Jinja2
MarkupSafe
gunicorn
